---
layout: layouts/base.njk
---

<article class="post-aposta container">
  <header style="text-align:center; margin-bottom:20px;">
    <h1>{{ title }}</h1>
    <p class="post-meta">
      📅 Publicado a {{ date | date("dd/MM/yyyy") }}
    </p>
      <p>📌 Aqui encontrarás os detalhes das apostas diárias, selecionado para maximizar lucros e aprender com cada aposta.</p>
  </header>

  <section class="post-content">
    {{ content | safe }}
  </section>

  <div style="text-align:center; margin-top:40px;">
    <a href="/aposta/" class="btn btn-secondary">⬅️ Voltar às Apostas</a>
  </div>
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "datePublished": "{{ date | date('yyyy-LL-dd') }}",
  "dateModified": "{{ date | date('yyyy-LL-dd') }}",
  "author": { "@type": "Organization", "name": "{{ site.name }}" },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.name }}",
    "logo": { "@type": "ImageObject", "url": "{{ site.url }}{{ site.logo }}" }
  },
  "mainEntityOfPage": { "@type": "WebPage", "@id": "{{ site.url }}{{ page.url }}" }
}
</script>

<style>

.post-content {
  text-align: center; /* centraliza todo o conteúdo de .md */
}


.post-aposta h1 { color:#2d9c6a; margin-bottom:10px; }
.post-meta { color:#555; font-size:0.9rem; }
.post-content { margin-top:20px; line-height:1.6; }



/* Garante que o footer fica sempre no fim */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
</style>