  [build]
  command = "npm run build"
  publish = "_site"

[[redirects]]
  from = "/google8efc3026f90f0fd0.html"
  to = "/google8efc3026f90f0fd0.html"
  status = 200

  [[redirects]]
  from = "/sw.js"
  to = "/sw.js"
  status = 200
  force = true