---
layout: layouts/base.njk
title: "Contacto"
---

<section class="content container">
  <h1>Fala Connosco</h1>
  <p>Entra em contacto connosco através do email:</p>
  <p><a href="mailto:contato@vardasorte.com">contato@vardasorte.com</a></p>
</section>
