---
layout: layouts/base.njk
title: "Sobre Nós"
---

<section class="content container">
  <h1>Sobre o VAR da Sorte</h1>
  <p>
    O projeto <strong>VAR da Sorte</strong> nasceu para ajudar apostadores a
    tomar decisões mais conscientes, com base em estatísticas e análises
    objetivas. Aqui não há “adivinhações”, mas sim dados que fazem a
    diferença.
  </p>
</section>
